@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  background-image: url("src/assets/bird-bridge.jpg");
  background-size: cover; 
  background-attachment: fixed;
}

button {
  cursor: pointer;
}

/* Styles for everything that belongs to the nav bar  */
.nav {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 50; 
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  flex-direction: row;
  border-bottom: 0.2px solid rgba(236, 235, 235, 0.207);
  background-color: rgba(255, 255, 255, 0.25); /* semi-transparent */
  backdrop-filter: blur(10px);                 /* frosted glass */
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.nav-items {
  position: relative;
  display: flex;
  gap: 1.5rem;
}

.nav-title {
  font-family: "Shadows Into Light", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: 2.2rem;
  text-align: center;
  letter-spacing: 0.1em;
}

.nav li {
  display: inline-block; 
  list-style: none;
}

.nav-items > li:hover {
  border-bottom: 2px solid rgba(0, 0, 0, 0.487); /* the underline */
}

/* Styles for the dropdown menu of My Closet */
.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 1rem 1rem;
  background-color: rgba(255, 255, 255, 0.339);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 200%;
  left: 0;
  min-width: 150px;
  max-width: 300px;
  overflow-y: auto; 
}

.dropdown-item {
  font-size: 1rem;
  font-weight: 350; 
  margin: 0.5rem 0;
  white-space: nowrap;
  overflow: hidden;
}

.dropdown-item:hover {
  font-weight: 500;
}

.dropdown-add-btn {
  border-radius: 10px; 
  border: 0.2px solid rgba(236, 235, 235, 0.198);
  background-color: white;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 5px;
}


/* Styles for the item card */
.itemcard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}